@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css");

@font-face {
  font: {
    family: "TTHoves";
    weight: bold;
  }
  src: url(../fonts/TTHoves-Medium.woff) format("woff");
}
@font-face {
  font: {
    family: "TTHoves";
    weight: 800;
  }
  src: url(../fonts/TTHoves-DemiBold.woff) format("woff");
}