#footer {
  position: relative;
  z-index: 1010;
  background-color: #f2f2f2;
  transform: translateY(-100%);
  @include mobile {
    padding: 25px 0 29px;
    height: auto;
  }

  .inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: static;
    max-width: 1920px;
    padding: 25px 104px 25px 98px;
    background-color: #f2f2f2;
    @include mobile {
      display: block;
      min-width: 320px;
      max-width: 1320px;
      padding: 0 22px;
    }
  }

  .foot-logo {
    color: #000;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.32px;
    .footer-logo-link {
      display: block;
      font-weight: 700;
    }
    @include mobile {
      display: inline-block;
      vertical-align: top;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.3px;
    }
  }

  .foot-info {
    margin-left: 30px;
    @include mobile {
      display: inline-block;
      margin-left: 21px;
      vertical-align: top;
    }
    .info-link {
      color: #909090;
      font: {
        size: 14px;
        weight: bold;
      }
      line-height: 22px;
      letter-spacing: -0.28px;
    }
  }

  .foot-family {
    position: relative;
    margin-left: auto;
    @include mobile {
      margin-top: 15px;
      width: 100%;
      color: #1d1d1d;
      font-size: 12px;
    }
    .family-btn {
      position: relative;
      width: 280px;
      background-color: #f2f2f2;
      line-height: 42px;
      text-align: left;
      @include mobile {
        width: 100%;
        line-height: 40px;
      }
      &.active {
        padding: 0 12px;
        background-color: #fff;
        &::before {
          right: 5px;
          transform: rotate(180deg);
        }
      }
    }
    .family-btn::before {
      position: absolute;
      top: 18px;
      right: 0;
      z-index: 100;
      width: 10px;
      height: 6px;
      background-position: -122px -93px;
      content: "";
    }
    .family-btn::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #000;
      content: "";
      @include mobile {
        background-color: #b4b4b4;
      }
    }
    &.active .family-btn::before {
      right: 5px;
      transform: rotate(180deg);
    }
    .family-wrap {
      display: none;
      position: absolute;
      bottom: 42px;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: #fff;
      @include mobile {
        bottom: 40px;
      }
      &.active {
        display: block;
      }
    }
    .family-item {
      font: {
        size: 18px;
        weight: 600;
      }
      line-height: 42px;
    }
    .family-link {
      display: block;
      padding: 0 12px;
      @include mobile {
        font-size: 12px;
        color: #1d1d1d;
      }
    }
  }

  .foot-company {
    display: block;
    position: relative;
    width: 100%;
    .company-wrap {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 5px 0 0;
      @include mobile {
        margin: 15px 0 0 0;
        gap: 0;
      }
    }
    .company {
      position: relative;
      color: #909090;
      font: {
        size: 14px;
        weight: bold;
      }
      line-height: 22px;
      letter-spacing: -0.28px;
      @include mobile {
        margin-right: 20px;
      }
    }
    .company:not(:nth-of-type(6))::after {
      display: block;
      position: absolute;
      top: 50%;
      right: -10px;
      width: 1px;
      height: 12px;
      background: #909090;
      transform: translateY(-50%);
      content: "";
    }
  }

}
